<%- include("header") -%>

<p>
  amar sonar bangla ami tomay valobasi, ki shova ki chaya go ki sneho ki maya go ki placeholder
  bichayeso boter mule nodier kule kule.
</p>


<%- include("footer") -%>
