<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>

  <% if (day === "Saturday" || day === "Monday") { %>
  <h1 style="color: purple"><%= day %> todo list.</h1> }
  <% } else { %>
  <h1 style="color: blue"> <%= day %> todo list. %></h1>
  <% } %>




</body>

</html>
